/* Estilos Gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #121212; /* fundo escuro para um tema futurista */
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #0AC5B8;
}

form {
    background: #1c1c1c; /* fundo escuro para os cartões */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background-color: #0AC5B8;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #08999B;
}
