* {
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    margin: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: 1px solid black;
    border-radius: 15px;
    height: 85vh;
    width: 60vw;
}

img {
    height: 10rem;
    margin: 20px;
    border-radius: 20px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
}

.info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    overflow: auto;
    margin-left: 20px;
    font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #0AC5B8; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #08999B;
}